@import "tailwindcss";

:root {
  --font-bernier: $ {
    bernier.style.fontFamily
  }

  ;

  --font-ptsans: $ {
    ptSans.style.fontFamily
  }

  ;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}
